.header {
  justify-content: space-between;
  min-height: 62px;
}

.header .header__nav-config {
  justify-content: flex-end;
  flex: inherit;
}

.header-bg {
  background-color: #004170;
}

.NamespaceSelector {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
