.LandingPage {
  .main-header-content {
    background-color: #004170;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -13px;
    padding: 40px 1.25em 40px 1.25em;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      padding: 100px 100px 30px 100px;
    }
  }

  .main-header-content__slogan {
    font-size: 2.2em;
    font-weight: 900;
    line-height: 1.2em;
    padding-right: 0.5em;
    @media screen and (min-width: 400px) {
      font-size: 3em;
    }
  }

  .main-header-content__slogan,
  .main-header-search {
    max-width: 650px;
    flex-basis: 100%;
    @media screen and (min-width: 1024px) {
      flex-basis: 50%;
    }
  }

  .main-header-search {
    display: flex;
  }

  .SearchFilter {
    flex-basis: 100%;
    align-self: center;
    margin-top: -25px;

    svg {
      top: 34%;
    }
  }

  #search,
  #search:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #c7c9c8;
    box-shadow: none;
    font-size: 1.5em;
    line-height: 2em;
    height: auto;
  }

  #search:focus {
    border-bottom: 1px solid #fff;
  }
}
